@model CourseRegistrationApp.Models.Courses

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Courses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="C_CourseId" class="control-label"></label>
                <input asp-for="C_CourseId" class="form-control" />
                <span asp-validation-for="C_CourseId" class="text-danger"></span>
            </div>*@
            <input asp-for="C_CourseId" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="C_CourseNumber" class="control-label"></label>
                <input asp-for="C_CourseNumber" class="form-control" />
                <span asp-validation-for="C_CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_CourseName" class="control-label"></label>
                <input asp-for="C_CourseName" class="form-control" />
                <span asp-validation-for="C_CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_CourseDescrip" class="control-label"></label>
                <input asp-for="C_CourseDescrip" class="form-control" />
                <span asp-validation-for="C_CourseDescrip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
